// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   = #027BE3
// $secondary = #26A69A
// $accent    = #9C27B0

// $positive  = #21BA45
// $negative  = #C10015
// $info      = #31CCEC
// $warning   = #F2C037

// bootstrap - slate
$primary   = #3a3f44
// $secondary = #828a8f
$secondary = #272B30
$accent    = #17191b

$positive  = #6ec86e
$negative  = #ee605c
$info      = #4bb9db
$warning   = #f9a022

$tertiary  = #272b30
$dark      = #272b30

$body-background = #272B30
$body-color = #272B30

// bootstrap - white
// $primary   = #f8f8f8
// $secondary = #cdcdcd
// $accent    = #567a9a

// $positive  = #66aa00
// $negative  = #dc3912
// $info      = #3366cc
// $warning   = #ffad33
